body {
    text-align: center;
}

.pokemon-card img {
    width: 300px;
    height: 412px;
    margin-top: 10px;
    animation: appear-animation 1s linear forwards, float 6s 1s ease-in-out infinite;
}

@keyframes appear-animation {
    0% {
      transform: rotate(0deg);
      top: 0;
      opacity: 0;
    }
    20% {
      transform: rotate(9deg);
      top: 0;
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      top: 100px;
      opacity: 1;
    }
  }
  
  @keyframes float {
      0% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
      50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-20px);
      }
      100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
  }

  @keyframes tear-animation {
    0% {
      transform: rotate(0deg);
      top: 0;
      left: 10px:
      opacity: 1;
    }
    20% {
      transform: rotate(12deg);
      top: 0px;
      left: 20px;
      opacity: 1;
    } 
    70% {
      opacity: 1;
      left:50px;
    }
    100% {
      top: 100px;
      left:100px;
      opacity: 0;
    }
  }

  .tear {
    animation: tear-animation .8s linear forwards;
  }